.theme-dark {
    --page-background-color: #3a3939;
    --box-background-color: #272727;
    --button-background-color: #272727;
    --header-background-color: #272727;

    --text-button-hover-color: #272727;
}