.theme-light {
    --page-background-color: #ecf0f1;
    --box-background-color: white;
    --button-background-color: white;
    --header-background-color: white;

    --text-button-hover-color: white;
}